@model _20241CYA12B_G3.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
       <h1>¡Hoy es @Model.NombreDia, ahorra un @Model.Descuento en @Model.Producto</h1>
</div>
