html {
    font-size: 14px;
    height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #616572
}

nav{
    font-size: 18px;
    display: flex;
    
}

nav img{
    width: 100px;
    margin-left: 2rem;
}

nav ul{
    justify-content: center;
    margin: 1px;

}


li{
    text-decoration: none;
    list-style: none;
   
}


footer {
    display: block;
    background-color:#191919;
    height: 40%;
    position: relative;
    bottom: 0;
    color: white;
    justify-content: space-between;
}


footer div{
    width: 30%;
    display: inline-block;
    height: auto;
    margin: 1.5rem;
    float: left;
    text-align: center;
   

}




footer img{
    width: 15rem;
    align-content: center;
    
}



.Image-div{
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
}

.text-center{
    height: 100%;
}

.text-center {
    width: 100%;
    background-image: url("bg_hero.png");
    height: 15rem;
    align-content: center;
    opacity: 80%;
    z-index:10;
}

.text-center h1 {
    color: #ffffff;
    font-weight: bold;
    z-index: 100;
}


.nav-link-custom {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    padding: 15px;
}
