@model _20241CYA12B_G3.Models.DetallePedidoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@Model.Subtotal

@foreach(var producto in Model.Productos)
{
    <p>@producto</p>
}

<! -- HACER CONFIRMACION  -->

<a>Confirmar pedido</a>